#main-grid {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-rows: 0.5fr 2fr 1fr;
}

#grid-2048 {
  display: grid;
  grid-row: 2;
  grid-column: 2;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: gray;
  gap: 1%;
  border-color: dimgray;
  border-radius: 2%;
  border-width: 1%;
  padding: 1%;
  aspect-ratio: 1 / 1;
}

.square {
  background-color: lightgray;
  border-color: gray;
  border-style: solid;
  border-radius: 10%;
  width: 100%;
  border-width: 1px;
  aspect-ratio: 1 / 1;
  font-size: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
}