#main-grid {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-rows: 1fr 6fr 1fr;
}

#grid-2048 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: gray;
  grid-row: 2;
  grid-column: 2;
  gap: 2px;
  border-color: dimgray;
  border-radius: 5px;
  border-width:5px;
  padding: 5px;
  grid-auto-rows: 50px;
  grid-auto-columns: 50px;
}

.square {
  background-color: lightgray;
  border-color: gray;
  border-style: solid;
  border-radius: 5px;
  width: stretch;
  height: stretch;
  border-width: 1px;
}